<h1>Editing other_file</h1>

<% form_for(@other_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @other_file %> |
<%= link_to 'Back', other_files_path %>