<h1>Listing other_files</h1>

<table>
  <tr>
  </tr>

<% @other_files.each do |other_file| %>
  <tr>
    <td><%= link_to 'Show', other_file %></td>
    <td><%= link_to 'Edit', edit_other_file_path(other_file) %></td>
    <td><%= link_to 'Destroy', other_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New other_file', new_other_file_path %>