<section class="row">
  <h1 class="small-12 columns">Edit Student</h1>
</section>

<%= render 'form' %>

<section class="row">
  <div class="small-12 columns">
    <%= link_to 'Show', @student %> |
    <%= link_to 'Cancel', students_path %>
  </div>
</section>
