<h1>Students</h1>
<fieldset>
	<legend>List of Students</legend>
	<table>
	  <tr>
	    <th class="student">Name</th>
			<th class="actions"></th>
			<th class="actions"></th>
			<th class="actions"></th>
	  </tr>

	<% @students.each do |student| %>
	  <tr>
	    <td><%=h student.name %></td>
	    <td><%= link_to 'Show', student %></td>
	    <td><%= link_to 'Edit', edit_student_path(student) %></td>
	    <td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</fieldset>