$details-height: 102px;
$link-green: #008d52;


.work-card {
  // height: 250px;
  border: 1px solid #ccc;
}

.image-show-row {

  .image-column {
    background: #fff;
    margin-top: 40px;

    img { padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px solid #ccc; }
  }
}

.work-details {
  // margin-top: 2em;

  h1 {
    // margin-top: 1.5em;
    font-size: 25px;
    border-bottom: 1px solid;
    font-weight: bold;
    text-align: center;

    a { color: #000; }
    a:hover { color: $link-green; }
    
    .project { font-weight: normal; }
  }

  dl {
    dt { font-weight: normal; }
    dd { font-weight: bold; margin-bottom: 1em; }
    
    a { 
      color: #000;
      border-bottom: 1px dashed #aaa;

      &:hover {
        border-bottom: 1px solid #777;
      }
    }
  }
}


#details-nav {
  left: 250px;
  width: calc(100% - 250px);
  background-color:#eee;
  border-bottom: 5px solid #fff;
  position:fixed;
  top:0;
  overflow: hidden;

  .paginate-btn { 


    a { 
      display: block;
      color: #000; 
      border-bottom: 1px solid #ccc;
      line-height: 30px;
      padding: 0 1em;
      transition: .5s all;
      color: $link-green;

      &:hover {
        color: darken($link-green, 10);
        // border-color: #333;
        background: #fff;
      }

      &.inactive {
        color: #ccc !important;
        background: inherit !important;
      }
    }
  }

}






