<section class="row">
  <h1 class="small-12 columns">Upload New Student Work</h1>
</section>

<%= render 'form' %>

<section class="row">
  <div class="small-12 columns">
    <%= link_to 'Cancel', works_path %>
  </div>
</section>
