<h1>Instructors</h1>
<fieldset>
	<legend>List of Instructors</legend>
	<table>
	  <tr>
	    <th class="instructor">Name</th>
			<th class="actions"></th>
			<th class="actions"></th>
			<th class="actions"></th>
	  </tr>

	<% @instructors.each do |instructor| %>
	  <tr>
	    <td><%=h instructor.name %></td>
	    <td><%= link_to 'Show', instructor %></td>
	    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
	    <!-- <td class="delete"><%= link_to 'Destroy', instructor, :confirm => 'Are you sure?', :method => :delete if hide? == false %></td> -->
	  </tr>
	<% end %>
	</table>
</fieldset>