@charset "UTF-8";
/* CSS Document */

/* @group reset */
* { margin: 0px; padding: 0px; } li { list-style: none; } a { text-decoration: none; } a img { border: none; }
/* @end */

/* @group ======================================================================== global */
body { text-align: center; color: #333333; font: 11px Verdana, "Lucida Grande", Lucida, sans-serif; }
.clear { clear: both; }
br.clear { clear: both; line-height: 0px; height: 0px; }
a { color: #666666; outline: none; } 
a:hover { color: #333333; }
h2 a { text-decoration: underline; }
/* @end */

/* @group ======================================================================== nav, menu, + searchbar */
/* --------> nav */
#nav { width: 100%; height: 30px; line-height: 30px; background: url(../images/browse/nav.png) repeat-x 0 0; }
#nav ul#menu { line-height: inherit; height: inherit; float: left; padding: 0px; text-align: left; }

/* --------> menu */
#nav ul#menu > li { height: inherit; line-height: inherit; float: left; position: relative; margin-left: -10px; }
#nav ul#menu > li > a,
#nav ul#menu > li > span.disabled { display: block; height: inherit; line-height: inherit; width: auto; text-align: left; padding: 0px 30px; background: url(../images/browse/menu.png) no-repeat right; position: relative; color: #EEEEEE; font-size: 14px; text-shadow: #333333 1px 1px 1px; }
#nav ul#menu > li > a.sel:hover, 
#nav ul#menu > li > a:hover { background: url(../images/browse/menu_hover.png) no-repeat right; color: #FFFFFF; }
#nav ul#menu > li > a.home { background: url(../images/browse/menu_hover.png) no-repeat right; color: #FFFFFF; }
#nav ul#menu > li > a.sel { background: url(../images/browse/menu_sel.png) no-repeat right; color: #EEEEEE; }
#nav ul#menu > li > a.sel span.close { background: url(../images/browse/close.png) no-repeat left center; display: block; float: left; height: 30px; width: 20px; margin-left: -5px;}
#nav ul#menu > li > span.disabled { color: #777777; cursor: default; }
/* --------> li specific styles */
.one 	{ z-index: 100; }
.two 	{ z-index: 90; }
.three 	{ z-index: 80; }
.four 	{ z-index: 70; }
.five 	{ z-index: 60; }
.six	 	{ z-index: 50; }
span#home { display: block; width: 20px; text-indent: -1000px; background: url(../images/browse/home.png) no-repeat center -2px;}

/* --------> sub-menu */
#nav ul#menu > li ul { display: none; border-bottom: 3px solid #666666;width: auto; opacity: 0.95; }
#nav ul#menu > li:hover ul { display: block; }

#nav ul#menu > li:hover ul em,
#nav ul#menu > li:hover ul a { display: block; background-color: #EEEEEE; color: #666666; height: 30px; line-height: 30px; width: inherit; padding: 0px 15px; text-shadow: #FFFFFF 1px 1px 0; }
#nav ul#menu > li:hover ul a:hover { background-color: #032B69; color: #EEEEEE; text-shadow: none; }
#nav ul#menu > li:hover ul em { cursor: default; }

/* --------> search bar */
#nav form#search { float: right; height: 30px; line-height: 30px; padding: 0px 20px;}
#nav form#search input[type="text"] { border: none; height: 20px; line-height: 20px; font-size: 10px; padding: 0px 8px 0px 24px; -webkit-border-radius: 10px; -moz-border-radius: 10px; color: #999999; background: url(../images/browse/mag.png) no-repeat 3px  #EEEEEE; }
#nav form#search input[type="text"]:focus { outline: none; color: #333333; background-color: #FFFFFF; }

#browse_options { width: 100%; background: #ccc; height: 20px; line-height:20px; }
.filter_only_images { float: right; text-align: right; }
.toggle_false, .toggle_true { background: url("../images/toggle.png") no-repeat; margin-right: 20px; padding-right: 60px; height: 20px; }
.toggle_false { background-position: right bottom; }
.toggle_true { background-position: right top; }

/* @end */

/* @group ======================================================================== main */
#main { margin: 25px auto; width: 90%; text-align: left; }
#main #gallery { width: 100%; padding: 0px; margin-top: 20px; }
#main #start_nav { width: 513px; height: 150px; padding: 0px; margin-top: 40px; background: url(../images/browse/start_nav.png) no-repeat left top; position: absolute; left: 10%;}
#main #start_search { width: 461px; height: 175px; padding: 0px; margin-top: 40px; background: url(../images/browse/start_search.png) no-repeat left bottom; position: absolute; right: 10%;}

#main #gallery a.thumb { display: block; float: left; clear: none; width: 100px; height: 100px; background-color: #CCCCCC; margin: 10px 10px 0px 0px; /*opacity: 0.5;*/}
#main #gallery a.thumb-icon { padding-top: 22px; height: 83px; text-align: center; overflow: hidden; font-size: 80%;}
#main #gallery a:hover.thumb { opacity: 1; }

#main #gallery a.full { display: block; float: left; clear: none; width: 100%; height: 100%; background-color: #EFEFEF; text-align: center; }
#main #gallery a.prev { float: left; padding-top: 10px; }
#main #gallery a.next { float: right; padding-top: 10px; }

h1 { color: #444444; padding: 10px 0px 4px; }
h2 { color: #444444; padding: 6px 0px 2px; font-weight: normal; }
p { color: #666666; padding: 4px 0px; }
/* @end */

.thumb {
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #F5F5F5 !important;
	border: 1px solid #EEEEEE;
	padding: 5px;
}
.thumb:hover {
	background-color: #EEEEEE !important;
	border-color: #CCCCCC;
}
.loading { /* height and width set inline with values from db */
	margin: 0 auto;
	background: url(../images/browse/loader.gif) no-repeat center center;
}
}