<%= render :partial => 'header' %>
<p>Select an image below to view in larger detail.</p>
<div id="gallery">
	<% @works.each do |work| %>
		<% work.images.each do |image| %>
			<!-- <%= link_to(image_tag(image.public_filename(:thumb)), { :controller => "browse/works", :action => "show", :id => image }, :class => "thumb" ) %> -->
			
			<% if RAILS_ENV=="production" %>
				<%= link_to("", browse_work_url(image, :course_id => params[:course_id], :project_id => params[:project_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level], :level_only => params[:level_only]), :class => "thumb", :style => "background-image: url('#{ ActionController::Base.relative_url_root + image.public_filename(:thumb) }');" ) %>
			<% else %>
				<%= link_to("", browse_work_url(image, :course_id => params[:course_id], :project_id => params[:project_id], :instructor_id => params[:instructor_id], :student_id => params[:student_id], :level => params[:level], :level_only => params[:level_only]), :class => "thumb", :style => "background-image: url('#{ image.public_filename(:thumb) }');" ) %>
			<% end %>
			
		<% end %>
		<!-- <% work.other_files.each do |image| %>
			<a href="#">(other)</a>
		<% end %> -->
	<% end %>
</div>