<section class="row">
  <h1 class="small-12 columns">Edit Course</h1>
</section>

<%= render 'form' %>

<section class="row">
  <div class="small-12 columns">
    <%= link_to 'Show', @course %> |
    <%= link_to 'Cancel', courses_path %>
  </div>
</section>
