<h1>Editing images</h1>

<% form_for(@images) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @images %> |
<%= link_to 'Back', images_path %>